<th:block th:fragment="IssueHistoryArea">
  <div class="card mt-3">
    <div class="card-body">
      <h6 class="mb-2">수정이력</h6>
    </div>

    <table class="table table-sm table-hover">
      <thead class="table-light">
        <tr>
          <th>수정한 사람</th>
          <th>수정일시</th>
        </tr>
      </thead>
      <!-- 추후에 백엔드에서 가져옴 -->
      <tbody id="historyBody">
        <tr>
          <td>김동우</td>
          <td>2026-02-05</td>
        </tr>
      </tbody>
    </table>
  </div>
</th:block>
