<th:block th:fragment="IssueRejectModal">
	<!-- 확인 Modal -->

	<link rel="stylesheet" th:href="@{/css/modal.css}" />
	<div class="modal fade" id="issueRejectModal" tabindex="-1"
		aria-labelledby="issueRejectModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<div class="d-flex">
						<i class="bi bi-info-circle-fill me-2"></i> <span> 일감 상태를 <strong>'반려'</strong>로
							변경하고, <br> 수정 사유에 <strong>"반려"</strong>라고 입력해 주시기 바랍니다.
						</span>
					</div>
				</div>

				<div class="modal-body">
					<div class="mb-2 text-danger small d-none" id="rejectErrorMessage">일감
						상태를 반려로 변경 후 수정 사유에도 반려라고 입력해 주세요</div>
					<textarea class="form-control" id="rejectComment" rows="3"
						placeholder="반려 사유를 입력하세요"></textarea>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" id="rejectSubmit">확인</button>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/issue/issue-reject-modal.js}"></script>
</th:block>
