<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<!-- bootstrap-datepicker -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />

<!-- 1. jQuery = JavaScript 라이브러리-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- 2. bootstrap-datepicker 본체 -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<!-- 3. 한국어 캘린더-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"></script>
<title>일감 수정</title>
</head>
<body>
	<div class="container">
		<form id="workUpdate" method="post">

			<!-- 일감번호 -->
			<!-- 해당 일감번호에 대한 값을 가져와얗 -->
			<div class="row mb-3">
				<div class="col-md-6">
					<label class="form-label">소요시간 등록할 일감 번호</label> <input type="text"
						class="form-control" id="jobID" name="jobID" readonly />
				</div>

				<!-- 담당자 -->
				<div class="col-md-6">
					<label class="form-label">담당자</label> <input type="text"
						class="form-control" id="managerId" name="managerId" readonly />
				</div>
			</div>


			<div class="row mb-3">
				<!-- 작업일자 -->
				<div class="col-md-6">
					<label class="form-label">작업일자</label><input type="text"
						class="form-control datepicker" id="startDate" name="startDate"
						placeholder="실제 근무한 날짜 선택" readonly />
				</div>

				<!-- 근무한 시간 -->
				<div class="col-md-6">
					<label class="form-label">근무한 시간</label><input type="number"
						class="form-control" id="endDate" name="endDate"
						placeholder="숫자만 입력" />
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label">상세 설명</label>
				<div class="form-floating">
					<textarea class="form-control" id="floatingTextarea2"
						style="height: 100px" name="content"></textarea>
					<label for="floatingTextarea2"></label>
				</div>
			</div>

			<div class="row mb-3">
				<!-- 작업분류 -->
				<div class="col-md-6">
					<label class="form-label">작업분류</label> <select class="form-select"
						name="status">
						<option value="">선택</option>
						<option th:each="status : ${statusList}" th:value="${status}"
							th:text="${status}"></option>
					</select>
				</div>

				<!-- 진척도 -->
				<div class="col-md-6">
					<label class="form-label">진척도</label> <input type="text"
						class="form-control" id="progress" name="progress" readonly />
				</div>
			</div>

			<!-- 전송 -->
			<div class="row md-3">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#workSubmitModal">소요시간 정보 수정</button>
			</div>
		</form>
		<!-- form 태그 바깥 부가 기능 영역 Card영역 -->
		<div class="card">
			<div class="card-body">
				<div class="d-flex gap-2 mb-3">
					<button type="button" class="btn btn-secondary" id="historyButton">
						수정이력</button>
					<button type="button" class="btn btn-secondary" id="commentButton">
						댓글</button>
					<button type="button" class="btn btn-primary">보고하기</button>
				</div>
				<!-- grid 영역 -->
				<div id="subContentArea"></div>
			</div>
		</div>
	</div>

	<!-- 모달 fragment 호출 ~{템플릿 재사용 fragment 호출 조각 표현식} -->
	<th:block
		th:replace="~{common/fragments/issue/user_select_modal :: UserSelectModal}"></th:block>
	<th:block
		th:replace="~{common/fragments/issue/issue_select_modal :: IssueSelectModal}"></th:block>
	<th:block
		th:replace="~{common/fragments/issue/issue_update_modal :: IssueUpdateModal}"></th:block>
	<th:block
		th:replace="~{common/fragments/issue/issue_reject_modal :: IssueRejectModal}"></th:block>

	<script th:src="@{/js/issue/issue_insert.js}"></script>
	<script th:src="@{/js/issue/issue_update.js}"></script>
	<script th:src="@{/js/issue/issue_comment.js}"></script>
</body>
</html>
