<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>사용자 » 새 사용자</title>
</head>

<body>
	<div layout:fragment="Content" class="container-fluid">
		<div class="card shadow-sm col-xl-8 col-lg-9 mx-auto mt-3">
			<div class="card-body p-2">
				<form th:action="@{/users/create}" th:object="${usersCreateDto}"
					method="post">
					<div class="mb-3">
						<h2 class="h4 fw-bold">
							<span class="text-primary">사용자</span> » 새 사용자
						</h2>
					</div>

					<fieldset
						class="mb-3 p-2 border rounded bg-light position-relative">
						<legend class="float-none w-auto ms-2 px-2 fw-bold text-secondary"
							style="font-size: 0.8rem;">정보</legend>

						<div class="mb-2 row align-items-center">
							<label class="col-sm-3 col-form-label text-end fw-bold py-0"
								style="font-size: 0.9rem;">아이디 <span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" th:field="*{userId}" id="userId"
									class="form-control form-control-sm" required />
								<div id="idCheckMsg"
									style="font-size: 0.75rem; margin-top: 2px;"></div>
							</div>
						</div>

						<div class="mb-2 row align-items-center">
							<label class="col-sm-3 col-form-label text-end fw-bold py-0"
								style="font-size: 0.9rem;">이름 <span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" th:field="*{userName}"
									class="form-control form-control-sm" required />
							</div>
						</div>

						<div class="mb-2 row align-items-center">
							<label class="col-sm-3 col-form-label text-end fw-bold py-0"
								style="font-size: 0.9rem;">메일 <span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="email" th:field="*{email}"
									class="form-control form-control-sm" required />
							</div>
						</div>

						<div class="mb-2 row align-items-center">
							<label class="col-sm-3 col-form-label text-end fw-bold py-0"
								style="font-size: 0.9rem;">관리자</label>
							<div class="col-sm-6">
								<input type="checkbox" th:field="*{admin}" th:value="1"
									class="form-check-input" />
							</div>
						</div>
					</fieldset>

					<fieldset
						class="mb-3 p-2 border rounded bg-light position-relative">
						<legend class="float-none w-auto ms-2 px-2 fw-bold text-secondary"
							style="font-size: 0.8rem;">인증</legend>

						<div class="mb-1 row align-items-center">
							<label class="col-sm-3 col-form-label text-end fw-bold py-0"
								style="font-size: 0.85rem;">비밀번호 <span
								class="text-danger">*</span></label>
							<div class="col-sm-4">
								<input type="password" th:field="*{passwd}"
									class="form-control form-control-sm" style="height: 25px;"
									required />


							</div>
						</div>

						<div class="row mb-1">
							<div class="col-sm-3"></div>
							<div class="col-sm-6" style="line-height: 1;">
								<small class="text-muted" style="font-size: 0.7rem;">최소한
									8 글자 이상이어야 합니다.</small>
							</div>
						</div>

						<div class="mb-1 row align-items-center">
							<label class="col-sm-3 col-form-label text-end fw-bold py-0"
								style="font-size: 0.85rem;">비밀번호 확인 <span
								class="text-danger">*</span></label>
							<div class="col-sm-4">
								<input type="password" th:field="*{passwordConfirm}"
									class="form-control form-control-sm" style="height: 25px;"
									required />
								<div id="pwdCheckMsg"
									style="font-size: 0.75rem; margin-top: 2px;"></div>
							</div>
						</div>

						<div class="text-end pt-1">
							<button type="submit"
								class="btn btn-sm btn-light border shadow-sm fw-bold py-0"
								style="background-color: #fff; font-size: 0.8rem; height: 28px;">만들기</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<script th:src="@{/js/userCheck.js}"></script>

	</div>
</body>
</html>