<!-- 조건을 추가하여 검색 -->
<!-- 일감제목 -->
<div th:fragment="JobTitleField" 
		class="col-md-3 condition-field d-none"
		id="field-jobTitle">
	<div class="card card-body shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">일감 제목</label>
			<!-- x버튼 -->
			<button type="button" 
						 class="btn-close btn-remove"
						 data-target="field-jobTitle"></button>
		</div>
		<!--  select의 name 속성은 option 태그의 value를 가져오는 key값임 -->
		<select name="title" class="form-select">
		<option value="">선택</option>
		<option th:each="issueList : ${parentIssueList}"
					th:text="${issueList.title}"></option>
		</select>
	</div>
</div>
<!-- 일감 담당자 -->
<div th:fragment="WorkersField" 
		class="col-md-3 condition-field d-none"
		id="field-workers">
	<div class="card card-body shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">담당자 선택</label>
           <!-- x버튼 -->
			<button type="button" 
						 class="btn-close btn-remove"
						data-target="field-workers"></button>
		</div>
		<select name="username" class="form-select">
		<option value="">선택</option>
		<option th:each="user : ${managerList}"
					th:text="${user.username}"></option>
		</select>
	</div>
</div>
<!-- 작업일시 -->
<div th:fragment="WorkDateField"
		class="col-md-3 condition-field d-none"
		id="field-workDate">
	<div class="card card-body shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">작업일시</label>
           <!-- x버튼 -->			
			<button type="button" 
						 class="btn-close btn-remove"
						 data-target="field-workDate"></button>
		</div>
		<input type="text" 
				   name="workDate"
				   class="form-control form-control-sm datepicker"
				   placeholder="작업일시를 선택하세요">
	</div>
</div>
<!-- 소요시간 작업분류 -->
<div th:fragment="WorkTypeField" 
		class="col-md-3 condition-field d-none"
		id="field-workType">
	<div class="card card-body shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">작업분류</label>
			<!-- x버튼 -->
			<button type="button" 
						 class="btn-close btn-remove"
						 data-target="field-workType"></button>
		</div>
		<select name="workDetailsNo" class="form-select form-selected-sm">
			<option value="0">작업분류 선택</option>
			<option th:each="status : ${workType}"
						th:value="${status.workDetailsNo}"
						th:text="${status.workType}"></option>
		</select>
	</div>
</div>
<!-- 소요시간 상세내용 -->
<div th:fragment="WorkContentField"
		class="col-md-3 condition-field d-none" 
		id="field-workContent">
	<div class="card card-body shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">작업내용</label>
			<!-- x버튼 -->
			<button type="button" 
						 class="btn-close btn-remove"
						data-target="field-workContent"></button>
		</div>
		<input type="text" 
				   name="workContent"
				   class="form-control form-control-sm" 
				   placeholder="내용 키워드">
	</div>
</div>

