<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/default_layout}" layout:fragment="Content">
<head>
<meta charset="utf-8" />
<title>회원 등록</title>
</head>
<body>
	<h2>회원 등록</h2>

	<div th:if="${error}" style="color: red;" th:text="${error}"></div>

	<form th:action="@{/user/}" th:object="${userDto}" method="post">
		<div>
			<label>유저 ID</label> <input type="text" th:field="*{userId}" />
			<div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" style="color: red;">err</div>
		</div>

		<div>
			<label>비밀번호(임시)</label> <input type="password" th:field="*{password}" />
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;">err</div>
		</div>

		<div>
			<label>이름</label> <input type="text" th:field="*{username}" />
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;">err</div>
		</div>

		<div>
			<label>관리자 여부</label>
			<select th:field="*{admin}">
				<option value="0">0 (false)</option>
				<option value="1">1 (true)</option>
			</select>
		</div>

		<div>
			<label>이메일</label> <input type="email" th:field="*{email}" />
		</div>

		<button type="submit">등록</button>
	</form>
</body>
</html>