<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.work.mapper.WorkMapper">
    <!-- 소요시간 전체 조회 -->
	<select id="selectWorkEntries" resultType="WorkSelectDto">
		SELECT
		 we.work_entries_no
		 , we.workers
		 , we.work_date
		 , we.work_time
		 , we.work_content
		 , we.job_id
		 , j.title
		 , we.work_details_no
		 , wd.work_type
		FROM 
		  work_entries we
		JOIN 
		  job j
		ON 
		  we.job_id = j.job_no
		LEFT JOIN 
		  work_details wd
		ON 
		  we.work_details_no = wd.work_details_no
		<where>
		  <if test="jobId != null and jobId != 0">
		 AND we.job_id = #{jobId}
		  </if>
		  <if test="title !=null and title !=''">
		  AND j.title LIKE '%' || #{title} || '%'
		  </if>
		  <if test="workers !=null and workers !=''">
		   AND we.workers = #{workers}
		  </if>
		  <if test="workDate !=null">
		  AND we.work_date = #{workDate}
		  </if>
		  <if test="workDetailsNo !=null and workDetailsNo !=''">
		  AND we.work_details_no = #{workDetailsNo}
		  </if>
		  <if test="workContent !=null and workContent !=''">
		  AND we.work_content LIKE '%' || #{workContent} || '%'
		  </if>
		</where>
		ORDER BY 
		  we.work_entries_no DESC
	</select>
	
	<!-- 소요시간 등록 INSERT 파라미터 타입이 WorkInsertDto 객체 하나다! -->
	<insert id="insertWorkEntries" parameterType="WorkInsertDto">
		INSERT INTO work_entries
		(
		work_entries_no
		, workers
		, work_date
		, work_time
		, work_content
		, job_id
		, work_details_no
		)
		VALUES
		(
		work_entries_seq.NEXTVAL
		, #{managerId}
		, #{workDate}
		, #{workTime}
		, #{workContent}
		, #{jobId}
		, #{workDetailsNo}
		)
	</insert>
	
	<!-- 작업분류 조회 -->
	<select id="selectWorkDetails" resultType="WorkDetailsDto">
	SELECT work_details_no
	     , work_type
	FROM work_details
	</select>
</mapper>