<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.issue.mapper.IssueMapper">

	<select id="selectProjectIssue" parameterType="projectIssueDto">
		SELECT job_no
		           , j.title
                   , p.project_name
                   , p.project_code
                   , j.job_status_no
                   , j.job_type_no
                   , j.priority
		           , FN_GET_JOB_STATUS(j.job_status_no) AS job_status_name
                   , FN_GET_JOB_TYPE(j.job_type_no) AS job_type_name
                   , FN_GET_CODE_NAME(j.priority) AS priority_name
		           , j.manager_id
		FROM job j
                 JOIN project p 
                 ON j.project_no = p.project_no
        WHERE p.project_code = #{projectCode}
        <if test="userId != null">
            AND j.user_id = #{userId} 
        </if>
        
        
	</select>




</mapper>