<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.project.mapper.ProjectSecurityMapper">
	<select id="checkAuthority" resultType="int">
		SELECT COUNT(*) FROM VW_SECURITY_AUTH
		WHERE USER_ID = #{userId}
		AND PROJECT_CODE = #{projectCode}
		AND (
		(#{action} = 'READ' AND C.CRUD_READ = 1) OR
		(#{action} = 'CREATE' AND C.CRUD_CREATE = 1) OR
		(#{action} = 'UPDATE' AND C.CRUD_UPDATE = 1) OR
		(#{action} = 'DELETE' AND C.CRUD_DELETE = 1)
		)
	</select>
</mapper>