<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.home.project.mapper.HomeProjectMapper">
	<select id="findProjects" resultType="HomeProjectDto">
		select p.project_no
		, p.project_name
		, p.project_desc
		, p.project_code
		from vw_project p
		join vw_member m on p.project_no = m.project_no
		where m.user_id = #{userId}
	</select>

</mapper>