<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default-layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>일감 전체 조회</title>
</head>
<body>
	<div class="container">
       
		<div class="mb-4 mt-3">
		<!-- #lists.isEmpty는 thymeleaf의 유틸함수 -->
			<h3 class="fw-bold">
				<label th:if="${not #lists.isEmpty(issueList)}"
				th:text="${issueList[0].projectName}"
				class="text-primary"></label>
				<small class="text-muted">의 일감 조회</small>
			
			</h3>
		</div>
		
		<div class="mb-3 d-flex align-items-stretch justify-content-end gap-2">
			<div class="dropdown me-2">
				<button class="btn btn-secondary dropdown-toggle" type="button"
					data-bs-toggle="dropdown" aria-expanded="false">검색조건 추가</button>

				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">제목</a></li>
					<li><a class="dropdown-item" href="#">일감번호</a></li>
					<li><a class="dropdown-item" href="#">상태</a></li>
					<li><a class="dropdown-item" href="#">우선순위</a></li>
					<li><a class="dropdown-item" href="#">담당자</a></li>
					<li><a class="dropdown-item" href="#">일감 시작날짜</a></li>
					<li><a class="dropdown-item" href="#">일감 마감날짜</a></li>
					<li><a class="dropdown-item" href="#">진척도</a></li>

				</ul>
			</div>
				<div>
			<button th:onclick="|location.href='@{/project/{code}/issue/new(code=${projectCode})}'|"
			class="btn btn-primary text-white d-inline-flex">일감 추가</button>
			<button th:onclick="|location.href='@{/work/list}'|"
			class="btn btn-primary text-white d-inline-flex">소요시간 조회</button>
		</div>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">프로젝트 이름</th>
					<th scope="col">일감번호</th>
					<th scope="col">제목</th>
					<th scope="col">상태</th>
					<th scope="col">유형</th>
					<th scope="col">우선순위</th>
					<th scope="col">담당자</th>
					<!-- 수정하기 버튼/ 상세조회 버튼 -->
					<th scope="col">수정/상세</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="issue : ${issueList}">
					<td th:text="${issue.projectName}" th:value="${issue.projectNo}"></td>
					<td th:text="${issue.jobNo}"></td>
					<td th:text="${issue.title}"></td>
					<td th:text="${issue.jobStatusName}"
						th:value="${issue.jobStatusNo}"></td>
					<td th:text="${issue.jobTypeName}" th:value="${issue.jobTypeNo}"></td>
					<td th:text="${issue.priorityName}" th:value="${issue.priority}"></td>
					<td th:text="${issue.managerId}"></td>
					<td>
						<div class="btn-group" role="group">
							<a th:href="@{/issue/info(jobNo=${issue.jobNo})}"
								class="btn btn-sm btn-outline-info">상세</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>